<header class="header">
    <div class="center">
        <!--logo-->
        <div id="logo">
            <img src="../../../assets/img/favicon.svg" alt="logotipo" srcset="" class="app-logo">

            <span id="brand">
                <strong>Blog</strong>Angular
            </span>
        </div>
        <!--menu-->
        <nav id="menu">
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Formulario</a>
                </li>
                <li>
                    <a href="#">Pagina1</a>
                </li>
                <li>
                    <a href="#">Pagina 2</a>
                </li>
            </ul>
        </nav>
        <!--limpar flotado-->
        <div class="clearfix"></div>
    </div>
</header>
