<header class="header">
    <div class="center">
        <!--logo-->
        <div id="logo">
            <img src="../../../assets/img/favicon.svg" alt="logotipo" srcset="" class="app-logo">

            <span id="brand">
                <strong>Blog</strong>Angular
            </span>
        </div>
        <!--menu-->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['home']" [routerLinkActive] ="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['blog']" [routerLinkActive] ="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['formulario']" [routerLinkActive] ="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['peliculas']" [routerLinkActive] ="['active']">Peliculas</a>
                </li>
                <li>
                    <a [routerLink]="['pagina']" [routerLinkActive] ="['active']">Pagina</a>
                </li>
            </ul>
        </nav>
        <!--limpar flotado-->
        <div class="clearfix"></div>
    </div>
</header>
